@model IEnumerable<TarziniYaratProject.Entities.Models.SliderImage>

@{
    ViewBag.Title = "SliderList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Slider Resim Liste</h2>

<a href="/Admin/AdminSiteProcesses/CreateSliderImage" class="btn btn-success btn-icon-split" style="margin-bottom:20px">
    <span class="icon text-white-50">
        <i class="fas fa-check"></i>
    </span>
    <span class="text">Slider Resim Ekle</span>
</a>
<table class="table">
    <tr>
        <th>
            Resim
        </th>
        <th>
            Aktiflik Durumu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImagePath)*@
            <img src="@item.ImagePath" alt="sliderImage" width="150" height="100"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
